.btn {

    border: 1px solid transparent;
    background: $gradient;
    color: $Background-div;
    opacity: 1;
    margin: 20px 0 40px 0;
    border-radius: 50px;
    box-shadow: 2px 2px 5px gray;
    transform: scale(1);
    transition: background 300ms ease, transform 300ms ease;
    &__p {

        font-size: 1.4rem;
        color: #fff;
        padding: 0 20px ;
    }
    &:hover {

      transform: scale(1.05);
      opacity: 0.7 ;
      box-shadow: 2px 2px 5px rgb(88, 88, 88);
      transition: .3s;
    }
}

.commander {

    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;

 }