



 

 .heart-fill  {



    transition: background-image 200ms ease-in-out, background-color 800ms ease-in-out;
    
     .full {
         display: none;
     }
    

  &:active {


    .full {
        display: block;
        color: rgba($color: #ca3d9b, $alpha: 1.0) ;
    }

    .empty {

            display:none;  
    }
    


   }

}