



 

 .heart-fill  {

    font-size: 1.5rem;

    
      
      
    
     .full {
         display: none;
     }
    
     
  &:active {

   
    

    .full {
        display: block;
        color: rgba(  #e248f6, 1 ) ;
        animation: heart 600ms ease-in-out  ;
        
    }

    .empty {
            
            
            display:none; 
    }
    


   }
   
}
