



 

 .heart-fill  {


   img{  
    position: relative;
    top: 10px;
    height: 30px;
    width: 30px;
   } 

    
     .full {
         display: none;
     }
    
     
  &:active {

   
    

    .full {

        display: block; 
        animation: heart 350ms ease-in-out  ;
        
    }

    .empty {
            
            
            display:none; 
    }
    


   }
   
}
