


@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes opacity {

    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }

.opacity-apparition {
	    animation: opacity 1s both;
}

#case-1 {
    animation-delay: 0.1s;
}

#case-2 {
    animation-delay: 0.2s;
}

#case-3 {
    animation-delay: 0.3s;
}

#case-4 {
    animation-delay: 0.4s;
}

#case-5 {
    animation-delay: 0.5s;
}

#case-6 {
    animation-delay: 0.6s;
}

#case-7 {
    animation-delay: 0.7s;
}

#case-8 {
    animation-delay: 0.8s;
}

#case-9 {
    animation-delay: 0.9s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}



@keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(-50px);
    }
  }

@mixin choice {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-Background;
    padding: 15px 15px 15px 0;
    margin: 15px 15px 15px 0;
    border-radius: 30px;
    box-shadow: 2px 2px 5px gray;
}


$lightness-hover: hsl(0, 0%, 100%);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-Background:#f2f2f2;
$Background-div: #fff;
$gradient : linear-gradient(180deg, #FF79DA , #9356DC);


